.donk {
    max-width: 23%;
    height: auto;
    margin: 3% 0;
    box-sizing: border-box;
}


.react {
    color: #0f74aa

}

.javascript {
    color: #b6981f;;

}

.html {
    color: #ab3e34;

}

.css {
    color: #078265;

}

.Typescript {
    color: #2f74c0;

}

.python {
    color: #9fc915;

}

.c {
    color: #a8b9cc;
}

p {
    width: 100%;
    word-wrap: break-word;
    /* Asegura que el texto no se desborde */
    text-align: left;
    /* Justifica el texto */
    /* Elimina márgenes adicionales */

}