.donk {
    max-width: 30%;
    height: auto;
    margin: 3% 0;
    box-sizing: border-box;
}

.allpagec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 11;
    height: auto;
    margin: 3% 16% 3% 16%;
    border: 2px solid white;
    max-width: 100%;
    color: white;
    min-width: 300px;
    box-sizing: border-box;
    padding: 10px 20px;
}