
button{
    background: none;
    border: none;
    
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.subcont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    box-sizing: border-box;
}

.githubbutton{
    color: #6e5494;
}

.xbutton{
    color: #aa9b14;
}

.linkedinbutton{
    color: #0077b5;
}

.soundcloudbutton{
    color: #ff5500;
}

.spotifybutton{
    color: #1db954;
}

.emailbutton{
    color: #980b01;
}

.weirdo{
        max-width: 30%;
            height: auto;
            box-sizing: border-box;
}

@media (max-width: 768px) {
    .subcont {
        flex-direction: column;
        align-items: center;
    }

    .weirdo {
        max-width: 50%;
        margin: 10px 0;
    }

    .subcont p {
        margin: 20px 0;
    }
}