.boxcontainer{
    width: 90%;
    border: 1px solid #ccc;
    border-right: none;
    border-top: none;
    margin: 1% 0;
}
.proyectName{
    font-style: oblique;
    font-size: larger;
}

.proyectDesc{
    font-size: small;
}

button {
    background: none;
    border: none;

    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

.ghButt{
    color: #6e5494;
}

.pButt{
    color: #2ad11b;
}